﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col-md-8">
        <fieldset>
            <legend>Form</legend>
            <form method="post" class="border shadow p-3" >
                <div class="form-row">
                    <div class="col-auto">
                        <div class="form-group form-row">
                            <label asp-for="Defect.DefectNo" class="col-auto col-form-label"></label>
                            <div class="col-auto">
                                <input asp-for="Defect.DefectNo" class="form-control" value="@Model.Defect.DefectNo" />
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button type="submit" asp-page-handler="select" class="btn btn-info">SELECT</button>
                    </div>

                    <div class="col">
                        <button type="submit" asp-page-handler="save" class="btn btn-success float-right">SAVE</button>
                    </div>

                </div>

                <div class="form-row">
                    <div class="col form-group">
                        <label asp-for="Defect.ACNo"></label>
                        <input asp-for="Defect.ACNo" class="form-control" value="@Model.Defect.ACNo" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="Defect.Station"></label>
                        <input asp-for="Defect.Station" class="form-control" value="@Model.Defect.Station" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="Defect.FlightNo"></label>
                        <input asp-for="Defect.FlightNo" class="form-control" value="@Model.Defect.FlightNo" />
                    </div>
                    <div class="col form-group">
                        <label asp-for="Defect.Date"></label>
                        <input asp-for="Defect.Date" class="form-control" value="@Model.Defect.Date" />
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        @* Using asp-for For textarea wont fill out the value *@
                        <label asp-for="Defect.Description"></label>
                        <textarea id="@Html.IdFor(m => m.Defect.Description)" name="@Html.NameFor(m => m.Defect.Description)" class="form-control" rows="3">@Model.Defect.Description</textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col form-group">
                        @* Using asp-for For textarea wont fill out the value *@
                        <label asp-for="Defect.Resolution"></label>
                        <textarea id="@Html.IdFor(m => m.Defect.Resolution)" name="@Html.NameFor(m => m.Defect.Resolution)" class="form-control" rows="3">@Model.Defect.Resolution</textarea>
                    </div>
                </div>
            </form>

            @if (Model.Message != null)
            {
                if (Model.Message.IsError)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Model.Message.Message
                    </div>
                }
                else
                {
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        @Model.Message.Message
                    </div>
                }

                Model.Message = null;
            }
        </fieldset>
    </div>
</div>
